@font-face {
  font-family: 'open-sans--bold';
  src: url('fonts/opensans-bold-webfont.woff2') format('woff2'),
       url('fonts/opensans-bold-webfont.woff') format('woff'),
       url('fonts/opensans-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
