@font-face {
  font-family: 'open-sans--semi-bold';
  src: url('fonts/opensans-semibold-webfont.woff2') format('woff2'),
       url('fonts/opensans-semibold-webfont.woff') format('woff'),
       url('fonts/opensans-semibold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}
