@font-face {
  font-family: 'open-sans--extra-bold-italic';
  src: url('fonts/opensans-extrabolditalic-webfont.woff2') format('woff2'),
       url('fonts/opensans-extrabolditalic-webfont.woff') format('woff'),
       url('fonts/opensans-extrabolditalic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
